<div align="right">
    <a href="{{ url_for('blueprint_vacancies.vacancies', page=parametrs.jobs.prev_num) }}"
    class="btn btn-outline-secondary
    {% if parametrs.jobs.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in parametrs.jobs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if parametrs.jobs.page == page_num %}
                <a href="{{ url_for('blueprint_vacancies.vacancies', page=page_num) }}"
                class="btn btn-outline-secondary">
                    {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('blueprint_vacancies.vacancies', page=page_num) }}"
                class="btn btn-outline-secondary">
                    {{ page_num }}
                </a>
            {% endif %}
        {% else %}
                ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('blueprint_vacancies.vacancies', page=parametrs.jobs.next_num) }}"
    class="btn btn-outline-secondary
    {% if parametrs.jobs.page == parametrs.jobs.pages %}disabled{% endif %}">
        &raquo;
    </a><br>
</div>