{% extends 'base.html' %}

{% block VACANCIESPAGE %} active {% endblock %}

{% block save %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blueprint_vacancies.add_vacancy') }}">
            Add vacancy
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blueprint_vacancies.delete_vacancies') }}">
            Delete all
        </a>
    </li>
{% endblock %}

{% block page_content %}
<meta name="csrf-token" content="{{ csrf_token() }}">
    <div class="container col-12" style="margin-top:15px;">
        <table class="table table-striped table-hover border">
            <thead>
            <tr>
                <td align="center" colspan="6"> 
                <b>There are {{ parametrs.count }}  
                    {% if parametrs.count == 1 %}
                        job
                    {% else %}
                        jobs
                    {% endif %}
                    in the database.
                    {% if parametrs.paginate %}
                        Showing page {{ parametrs.jobs.page }} of {{ parametrs.jobs.pages }}.
                    {% endif %}
                </b>
                </td>
            </tr>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Salary</th>
                <th>City</th>
                <th>State</th>
                <th>Source</th>
                <th>Link</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if parametrs.paginate %}
                {% for job in parametrs.jobs.items %}
                    {% include 'vacancies/row_vacancies.html' %}
                {% endfor %}
            {% else %}
                {% for job in parametrs.jobs %}
                    {% include 'vacancies/row_vacancies.html' %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% if parametrs.paginate %}{% include 'base_paginator.html' %}{% endif %}
    </div><br>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/vacancies.js') }}"></script>
{% endblock %}
