{% extends "base.html" %}

{% block page_content %}
<br>
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="container col-3 border">
    <br>
    <form class="align-items-center" method="post">
        {{ form.hidden_tag() }}
    <div class="mb-3">
        <h3>Reset Password</h3>
    </div>
    <div class="mb-3">
        {{ form.password(class="form-control forms-inputs", placeholder="Password") }}
    </div>
    <div class="mb-3">
        {{ form.confirm(class="form-control forms-inputs", placeholder="Confirm password") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-outline-secondary btn-block") }}
    </div>
    </form>
</div>
{% endblock %}