{% extends "base.html" %}

{% block page_content %}
<br>
<meta name="csrf-token" content="{{ csrf_token() }}">
<h1 class="h5 mb-3 font-weight-normal">Reset Password</h1>
<div class="container col-3 border">
    <form class="align-items-center" method="post">
        {{ form.hidden_tag() }}
    <div class="mb-3 pt-3">
        {{ form.email(class="form-control forms-inputs", placeholder="Email") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-outline-secondary btn-block") }}
    </div>
    </form>
</div>
{% endblock %}