{% extends 'base.html' %}

{% block USERPAGE %} active {% endblock %}

{% block page_content %}
<br>
<div class="container col-3 border">
  <br>
  <form class="form-edit" method="POST" action={{ url_for('blueprint_user.edit_profile') }} novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
      <h1 class="h5 mb-3 font-weight-normal">Edit profile {{name}}</h1>
    </div>
    <div class="mb-3">
      {{ form.user_name.label }}
      {{ form.user_name(class="form-control forms-inputs", placeholder="Username") }}
    </div>
    <div class="mb-3">
      {{ form.first_name.label }}
      {{ form.first_name(class="form-control forms-inputs", placeholder="First name") }}
    </div>
    <div class="mb-3">
      {{ form.last_name.label }}
      {{ form.last_name(class="form-control forms-inputs", placeholder="Last name") }}
    </div>
    <div class="mb-3">
      {{ form.phonenumber.label }}
      {{ form.phonenumber(class="form-control forms-inputs", placeholder="Phonenumber") }}
    </div>
    <div class="mb-3">
      {{ form.email.label }}
      {{ form.email(class="form-control forms-inputs", placeholder="Email") }}
    </div>
    <div class="mb-3">
      <a class="text-muted" href={{ url_for('blueprint_user.reset_password') }}>Edit password</a>
    </div>
    <div align="right">
      {{ form.submit(class="btn btn-outline-secondary btn-block") }}
    </div>
    <br>
  </form>
</div>
{% endblock %}