{% extends 'base.html' %}

{% block FAVORITESPAGE %} active {% endblock %}

{% block save %}
    <li class="nav-item">
        <a class="nav-link" href="/export?">
            <!--Save favorites to CSV-->
            <img src="static/img/csv.png" alt="Save favorites to CSV" vspace="0" align="center" height="25px">
        </a>
    </li>
{% endblock %}

{% block page_content %}
    <div class="container col-12" style="margin-top:15px;">
        <table class="table table-striped table-hover border">
            <thead>
            <!--<tr>
                <td align="center" colspan="6"> 
                <b>Your favorites of vacancies. Showing page {{ jobs.page }} of {{ jobs.pages }}.
                </b></td>
            </tr>
            <tr>-->
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Salary</th>
                <th>Location</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.company }}</td>
                <td>{{ job.salary }}</td>
                <td>{{ job.location }}</td>
                <td><a href="{{ job.link }}" target="_blank">Open</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <!-- paginator -->
    </div><br>
{% endblock %}