{% extends 'base.html' %}

{% block SEARCHPAGE %} active {% endblock %}

{% block page_content %}
<br>
<meta name="csrf-token" content="{{ csrf_token() }}">
<p class="lead">Search Panel</p>
<div class="container col-4 border">
    <form id="id_form_search" class="align-items-center" method="POST">
        {{ form_search.hidden_tag() }}
        <div class="mb-3 pt-3">
            {{ form_search.query_search(class="form-control", placeholder="Request") }}
        </div>

        <div class="mb-3">
            {{ form_search.city(class="form-control", placeholder="City") }}
        </div>

        <div class="mb-3">
            {{ form_search.state(class="form-control", placeholder="State") }}
        </div>

        <div class="mb-3">
            <div class="input-group">
                {{ form_search.salary(class="form-control", placeholder="Salary") }}
                <span class="input-group-text">$ € ₽</span>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <div class="custom-control custom-switch col order-first">
                {{ form_search.headhunter(id="check_hh_search", class="custom-control-input", type="checkbox", checked="y") }}
                <label class="custom-control-label", for="check_hh_search">HeadHunter</label>
            </div>

            <div class="custom-control custom-switch col">
                {{ form_search.stackoverflow(id="check_so_search", class="custom-control-input", type="checkbox") }}
                <label class="custom-control-label", for="check_so_search">StackOverflow</label>
            </div>

            <div class="btn-group col order-last">
                <button type="reset" class="btn btn-outline-secondary">Clear</button>
                {{ form_search.submit_search(id="search", class="btn btn-outline-secondary") }}
            </div>
        </div>
        <!--Errors-->
        {% if form_search.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form_search.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form_search[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
<br>


{% endblock %}

