{% extends 'base.html' %}

{% block SEARCHPAGE %} active {% endblock %}

{% block page_content %}
<br>
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="container col-4 border">
    <br>
    <!--<form class="align-items-center" method="POST" action={{ url_for('blueprint_app.report') }} novalidate>-->
    <form id="id_form_search" class="align-items-center" method="POST">
        {{ form_search.hidden_tag() }}
        <div class="mb-3">
            <label>Search Panel</label>
        </div>
        
        <div class="mb-3">
            {{ form_search.query_search(class="form-control", placeholder="Request") }}
        </div>

        <div class="mb-3">
            {{ form_search.city(class="form-control", placeholder="City") }}
        </div>

        <div class="mb-3">
            {{ form_search.state(class="form-control", placeholder="State") }}
        </div>

        <div class="mb-3">
            <div class="input-group">
                {{ form_search.salary(class="form-control", placeholder="Salary") }}
                <span class="input-group-text">₽</span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="custom-control custom-switch col-3">
                {{ form_search.headhunter(id="check_hh_search", class="custom-control-input", type="checkbox", checked="y") }}
                <label class="custom-control-label", for="check_hh_search">HeadHunter</label>
            </div>

            <div class="custom-control custom-switch col-3">
                {{ form_search.stackoverflow(id="check_so_search", class="custom-control-input", type="checkbox") }}
                <label class="custom-control-label", for="check_so_search">StackOverflow</label>
            </div>

            <div class="btn-group col-6">
                <button type="reset" class="btn btn-outline-secondary">Clear</button>
                {{ form_search.submit_search(id="search", class="btn btn-outline-secondary") }}
            </div>
        </div>
    </form>
</div>
<br>
{% if privilege %}
<div class="container col-4 border">    
    <br>
    <form id="id_form_parsing" class="align-items-center" method="POST">
        {{ form_parsing.hidden_tag() }}
        <div class="mb-3">
            <label>Parsing Panel</label>
        </div>

        <div class="mb-3">
            {{ form_parsing.query_parsing(class="form-control", placeholder="Request") }}
        </div>

        <div class="row mb-3">
            <div class="custom-control custom-switch col-3">
                {{ form_parsing.headhunter(id="check_hh_parsing", class="custom-control-input", type="checkbox", checked="y") }}
                <label class="custom-control-label", for="check_hh_parsing">HeadHunter</label>
            </div>

            <div class="custom-control custom-switch col-3">
                {{ form_parsing.stackoverflow(id="check_so_parsing", class="custom-control-input", type="checkbox") }}
                <label class="custom-control-label", for="check_so_parsing">StackOverflow</label>
            </div>

            <div class="btn-group col-6">
                <button type="reset" class="btn btn-outline-secondary">Clear</button>
                {{ form_parsing.submit_parsing(id="parsing", class="btn btn-outline-secondary") }}
            </div>
        </div>
    </form>

    <div class="progress mb-3" id="process" style="display:none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            <span class="progress-bar-label">0%</span>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script src="/static/js/search.js"></script>
{% endblock %}