{% extends 'base.html' %}

{% block SEARCHPAGE %} active {% endblock %}

{% block page_content %}
<br>
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="container col-4 border">
    <br>
    <!--<form class="align-items-center" method="POST" action={{ url_for('blueprint_app.report') }} novalidate>-->
    <form id="form_search" class="align-items-center" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.query_search(class="form-control", placeholder="Request") }}
        </div>

        <div class="mb-3">
            {{ form.city(class="form-control", placeholder="City") }}
        </div>

        <div class="mb-3">
            {{ form.state(class="form-control", placeholder="State") }}
        </div>

        <div class="mb-3">
            <div class="input-group">
                {{ form.salary(class="form-control", placeholder="Salary") }}
                <span class="input-group-text">₽</span>
            </div>
        </div>

        <div class="form-check form-switch">
            {{ form.headhunter(class="form-check-input", type="checkbox", checked="y") }}
            <label class="form-check-label">HeadHunter</label>
        </div>

        <div class="form-check form-switch">
            {{ form.stackoverflow(class="form-check-input", type="checkbox") }}
            <label class="form-check-label">StackOverflow</label>
        </div>

        <div align="right">
            <button type="reset" class="btn btn-outline-secondary">Clear</button>
            {{ form.submit_search(id="search", class="btn btn-outline-secondary") }}
        </div>
        <br>
    </form>

    <div class="progress mb-3" id="process" style="display:none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            <!--<span class="progress-bar-label">0%</span>-->
        </div>
    </div>
    
    <!--<div class="progress" style="width: 50%; margin: 50px;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>-->

</div>
{% endblock %}

{% block script %}
<script src="/static/js/search.js"></script>
{% endblock %}